.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px; /* Sidebar genişliğini ayarlayabilirsiniz */
    background-color: #000; /* Sidebar arka plan rengi */
    padding-top: 30px; /* İlk satırdan önce bir boşluk bırakmak için */
    z-index: 900;
    position: fixed;
}

/* Satırların stilini ayarla */
.nav-item {
    z-index: 1000;
    border-bottom: 1px solid #fff; /* Satır çizgisi rengi ve stilini ayarlayabilirsiniz */
}

/* İlk satırın üstte bir boşluğu varsa bu boşluğu kapatmak için */
.nav-link.active {
    margin-top: 0 !important;
}
.navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
}

body {
    padding-top: 56px;
}

/* Ince divider */
.divider {
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Sağ üst köşede altı çizili çıkış yap linki */
.logout-link {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: underline;
    margin: 10px;
    color: #007bff; /* İsteğe bağlı renk */
    cursor: pointer;
}

